<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <style>
    input {
      vertical-align: middle;
    }
    input.form-text {
      border: 1px solid #bcbcbc;
      height: 28px;
    }
    button.google-button {
      background: url("images/btn_google_signin_dark_normal_web.png") no-repeat;
      border: none;
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
  </style>
</head>
<body>
<h1>Sign in to Page</h1>
<form action="/login" method="POST">
  <label>username</label>
  <input type="text" name="username" placeholder="Username"/><br/>
  <label>password</label>
  <input type="password" name="password" placeholder="Password"/>
  <button>Sign in</button>
</form>

<button type="button" class="google-button"><a href="/oauth2/authorization/google">Sign in to Google</a> </button>
<button type="button" class="google-button"><a href="/oauth2/authorization/facebook">Sign in to Facebook</a> </button>
<button type="button" class="google-button"><a href="/oauth2/authorization/naver">Sign in to Naver</a> </button>
<button type="button" class="google-button"><a href="/oauth2/authorization/kakao">Sign in to Kakao</a> </button>
<button><a href="/joinForm">Sign up</a></button>
</body>
</html>